{
    email gabriel.rueda@metrolatam.com
}

# Configuración para todos los dominios de Publimetro
link.elcalce.com,
link.fayerwayer.com,
link.ferplei.com,
link.metroecuador.com.ec,
link.metro.pr,
link.metroworldnews.com,
link.mwnjornal.com.br,
link.nuevamujer.com,
link.publimetro.cl,
link.publimetro.co,
link.publimetro.com.mx,
link.publinews.gt,
link.sagrosso.com {
    
    # API y Redirecciones pasan al backend
    handle /api/* {
        reverse_proxy backend:8000
    }

    # El acortador (ej: /Abc123) pasa al backend
    handle_path /* {
        # Si no es un archivo estático o ruta de dashboard, redirige al backend
        @not_static {
            not path /dashboard /_astro/* /favicon.png /publimetro-logo.png /
        }
        reverse_proxy @not_static backend:8000
    }

    # El resto (Dashboard, Assets) pasa al frontend
    handle {
        reverse_proxy frontend:4321
    }
}
