{
    email gabriel.rueda@metrolatam.com
}

# Configuración para todos los dominios de Publimetro
s.elcalce.com,
s.fayerwayer.com,
s.ferplei.com,
s.metroecuador.com.ec,
s.metro.pr,
s.metroworldnews.com,
s.mwnjornal.com.br,
s.nuevamujer.com,
s.publimetro.cl,
s.publimetro.co,
s.publimetro.com.mx,
s.publinews.gt,
s.sagrosso.com {
    
    # API y Redirecciones pasan al backend
    handle /api/* {
        reverse_proxy backend:8000
    }

    # El acortador (ej: /Abc123) pasa al backend
    handle_path /* {
        # Si no es un archivo estático o ruta de dashboard, redirige al backend
        @not_static {
            not path /dashboard /_astro/* /favicon.png /publimetro-logo.png /
        }
        reverse_proxy @not_static backend:8000
    }

    # El resto (Dashboard, Assets) pasa al frontend
    handle {
        reverse_proxy frontend:4321
    }
}
